<footer id="footer">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}

	<form action="https://flowxo.com/hooks/a/mwr9bzvr" class="paper" onsubmit="return closeDialog()">
		<h3>Telli uued kirjutised e-mailile!</h3>
		<p>Koodikool kirjutab haridusest, startuppidest ja programmeerimisest. Siht on Eesti haridusmaastikku parendada kasutades IT
			lahendusi.</p>
		<input name="mailinglist" value="bloglist@koodikool.ee" style="display: none;" />
		<input name="email" type="email" placeholder="sinu@mail.ee" />
		<input type="submit" />
	</form>
	<div class="float-subscribe-wrapper">
		<div class="float-subscribe">
			<form action="https://flowxo.com/hooks/a/mwr9bzvr" class="paper float no-bottom-margin" onsubmit="return closeDialog()">
				<a class="popup-close" id="close-subscribe">[ei soovi]</a>
				<h3>Telli uued kirjutised e-mailile!</h3>
				<p class="not-mobile">Koodikool kirjutab haridusest, startuppidest ja programmeerimisest. Siht on Eesti haridusmaastikku parendada kasutades IT
					lahendusi.</p>
				<input name="mailinglist" value="bloglist@koodikool.ee" style="display: none;" />
				<input name="email" type="email" placeholder="sinu@mail.ee" />
				<input type="submit" />
			</form>
		</div>
	</div>
	<script>
		setInterval(function() {
			if (localStorage.getItem('show-subscribe') === "false") return
			var box = document.querySelector('.float-subscribe')
			var currentScroll = window.scrollY
			var footerTop = document.querySelector('#footer').offsetTop
			var windowHeight = window.innerHeight
			var footerInView = footerTop - windowHeight * 1.5 - currentScroll < 0
			var lowEnough = currentScroll > 1000
			if (!footerInView && lowEnough)
				box.style.top =  -box.offsetHeight + "px"
			else
				box.style.top =  "0px"

		}, 1000)
		document.querySelector('a#close-subscribe').onclick = closeDialog
		function closeDialog() {
			localStorage.setItem('show-subscribe', false)
			var box = document.querySelector('.float-subscribe')
			box.style.top = "0px"
		}
	</script>
    <style>
		@media only screen and (max-device-width: 767px) {
			.not-mobile {
				display: none;
			}
		}
		.popup-close {
			float: right;
			cursor: pointer;
		}
		.float-subscribe-wrapper {
			position: fixed;
			bottom: 0;
			height: 0;
			overflow: visible;
		}
		.float-subscribe {
			position: relative;
			top: 0px;
			max-width: 630px;
			transition: top 1s ease-in-out;
		}
		.float-subscribe .paper {
			border: 5px solid rgb(86, 148, 241);
		}
		.no-bottom-margin {
			margin-bottom: 0 !important;
		}
        .paper {
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 20px 90px rgba(250, 250, 150, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 20px 90px rgba(250, 250, 150, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 20px 90px rgba(250, 250, 150, 0.1);
	padding: 25px 40px;
	display: inline-block;
	margin: 1em;
	position: relative;
	min-width: 230px;
	background-color: white;
	word-break: break-word;
}

.paper h2 {
	margin-top: 0.5rem;
}

.paper:before, .paper:after
{
	position: absolute;
	width: 40%;
	height: 20px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
} 

.paper:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}
    </style>
    <p class="small">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       © Copyright {{ now.Format "2006"}} <i class="fa fa-heart" aria-hidden="true"></i> {{ .Site.Params.Author }}
    {{ end }}
    </p>
    <p class="small">
        Powered by <a href="http://www.gohugo.io/">Hugo</a> Theme By <a href="https://github.com/nodejh/hugo-theme-cactus-plus">nodejh</a>
    </p>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ac8c931d7591465c7094791/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</footer>
